@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

.section1 h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
}

.section1 .paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  margin-right: -6rem;
}

.section1 .text-white {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}

.section2 h2 {
  transform: rotate(-90deg);
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  margin-top: 5.5rem;
}

.section2 .card1 {
  margin-top: 7rem;
}

.section2 .btn-txt-size {
  font-size: 0.7rem;
}

.section2 .card2 {
  margin-top: -8rem;
}

.lat {
  margin-top: -14rem;
}

.imelu {
  margin-top: -0.8rem;
}
